<md-card class="drop-zone">
  <md-card-content class="dz-front">

    <md-input-container class="md-block">
      <textarea ng-model="$ctrl.input"
                md-detect-hidden
                md-select-on-focus
                placeholder="Input data or drag CSV files here"
                rows="10">
      </textarea>
    </md-input-container>

    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-warn"
                 ng-click="$ctrl.clearAll()"
                 ng-disabled="!$ctrl.input.length && !$ctrl.files.length">
        Clear All
      </md-button>
      <span flex></span>
      <md-button class="md-raised md-primary"
                 ng-click="$ctrl.processFiles()"
                 ng-disabled="!$ctrl.files.length">
        Process Files
      </md-button>
      <md-button class="md-raised md-primary"
                 ng-click="$ctrl.processInput()"
                 ng-disabled="!$ctrl.input.length">
        Process Text
      </md-button>
    </md-card-actions>

  </md-card-content>

  <md-card-content drop-zone
                   class="dz-rear"
                   layout="column"
                   layout-align="center center"
                   add-files="$ctrl.addFiles($files)"
                   update-input="$ctrl.updateInput">
  </md-card-content>
</md-card>

<!-- display loaded files -->
<md-content class="file-list"><!-- use md-card to align -->
  <md-list ng-show="$ctrl.files.length">
    <md-list-item class="md-2-line" ng-repeat="file in $ctrl.files">
      <md-button class="md-fab" ng-disabled="true" aria-label="file icon">
        <md-icon>insert_drive_file</md-icon>
      </md-button>
      <div class="md-list-item-text">
        <h3>{{ file.name }}</h3>
        <h4><em>{{ file.type || 'unknown filetype' }}</em></h4>
        <p>
          {{ file.size / 1000 | number : 2 }} kB
        </p>
        <!--<span class="file-size">{{ file.size }}</span>-->
      </div>
      <md-button class="md-icon-button md-warn" ng-click="$ctrl.removeFile($index)">
        <md-icon ng-style="{'font-size':32+'px'}">cancel</md-icon>
      </md-button>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>

<md-card>
  <md-card-content>
    <md-list ng-repeat="data in $ctrl.output">
      <md-list-item layout="row"
                    layout-align="space-around stretch"
                    ng-repeat="(key, values) in data.duplicates">
        <div flex="33">
          {{ key }}
        </div>
        <span flex layout="row" layout-align="center stretch" ng-repeat="value in values">
          <span>{{ value }}</span>
        </span>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
